<!DOCTYPE html>
<html>
  <head>
	<meta charset="utf-8">
   	<title>Autores</title>
    	<link rel='stylesheet' href='/stylesheets/style.css' />
	
  </head>
  <body>
	<h2>Autores</h2>
	<p> Borja María Martín y Nicolás Carreño de Asua</p>	</br>
	<img src="foto.jpg" height="120px" width="120px">	
	
  </body>
</html>
